In [1]:
import pandas as pd
from pandas import DataFrame
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.metrics import classification_report

In [2]:
titanic = pd.read_csv("titanic.csv")
titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
titanic_train, titanic_test = train_test_split(titanic)
titanic_train.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
711,0,2,Mr. Samuel Greenberg,male,52.0,0,0,13.0000
532,1,2,Miss. Eva Miriam Hart,female,7.0,0,2,26.2500
503,1,2,Mrs. Frederick Charles (Jane Richards) Quick,female,33.0,0,2,26.0000
104,0,3,Mr. Stoytcho Mionoff,male,28.0,0,0,7.8958
398,1,3,Mr. Juha Niskanen,male,39.0,0,0,7.9250

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

In [6]:
tree1 = DecisionTreeClassifier()

tree1 = tree1.fit(X=titanic_train.replace({'Sex': {'male': 0, 'female': 1}}    # Replace strings with numbers
                                         ).drop(["Survived", "Name"], axis=1),
                  y=titanic_train.Survived)

# Example prediction
tree1.predict([[2, 0, 26, 0, 0, 30]])    # A male in second class age 26 with no spouse or child aboard who paid $30 fare

array([1], dtype=int64)

In [7]:
pred1 = tree1.predict(titanic_train.replace({'Sex': {'male': 0, 'female': 1}}
                                           ).drop(["Survived", "Name"], axis=1))
print(classification_report(titanic_train.Survived, pred1))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99       413
           1       1.00      0.97      0.98       252

    accuracy                           0.99       665
   macro avg       0.99      0.98      0.99       665
weighted avg       0.99      0.99      0.99       665